$primary-mix: linear-gradient(127deg, #FFB629 0%, #FFDA56 50%, #FFD7A6 100%);
$yellow: #FFBE34;
$blue: #091242;
$blue-hover: #1F2A69;
$Secondary: #666C89;
$heading-text: #1C1F35;
$Paragraph-text: #666C89;
$border-color: #4E5683;


